@import "tailwindcss";

:root {
  --habit-bg: #8a006e;
  --habit-hover: #d85abf;
  --habit-border: rgba(216, 90, 191, 0.2);
  --habit-text: #ffffff;
}

body {
  background-color: var(--habit-bg);
  color: var(--habit-text);
}
